functools==0.1
pyotp==0.1
flask==1.0
werkzeug==0.15.3
json==0.1
warnings==0.1
requests==2.20.0
time==0.1
matrix_client==0.1
urllib3==1.26.5
os==0.1
hashlib==20081119
pickle==0.1
nextcloud_client==0.1
yaml==0.1
sqlite3==0.1
