functools==0.5
pyotp==2.7.0
flask==2.2.2
werkzeug==2.2.2
json==0.1
warnings==0.1
requests==2.28.1
time==0.1
matrix_client==0.4.0
urllib3==1.26.12
os==0.1
hashlib==20081119
pickle==0.1
nextcloud_client==0.1
yaml==0.1
sqlite3==0.1
