<!doctype html>
<link rel="icon" type="image/png" sizes="32x32" href="https://elokapina.fi/favicon.png">
<head>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
<title>Tekstitykset</title>
</head>
<h1>
    Ohjeet videoiden lähettämiseksi
</h1>
<h2>
Go to tekstitykset.elokapina.fi/en, and choose the file from your computer
<br>
Write your Element username (like @rebel:elokapina.fi),
<br>
Write the name of your video. It must be min 5 and max 20 letters.
<br>
Check that the username is correct, otherwise you will not receive srt file of your video.
<br>
Send the video
</h2>

