{% extends "base.html" %}
{% block content %}
<h1>Lataa video saadaksesi tekstitykset siihen</h1>
<form method="post" action="/fi" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" class="button" autocomplete="off" required>
		</p>
		<p>
			<label for="duuni">Videon nimi</label>
			<br>
			<input type="text" class="entry" id="duuni" name="duuni" placeholder="Videon nimi" required minlength="5" maxlength="20">		
		</p>
        <label> Suomen kieliset tekstitykset tulevat aina.</label><br>
		<input type="checkbox" id="Sweden" class="entry" name="Sweden" value="Sweden">
		<label for="vehicle1"> Haluan ruotsin kieliset tekstitykset</label><br>
		<input type="checkbox" id="English" class="entry" name="English" value="English">
		<label for="vehicle2"> Haluan englannin kieliset tekstitykset</label><br>
    </dl>
    <p>
		<input type="submit" class="button" value="lataa palvelimelle">
	</p>
</form>
{% endblock %}