{% extends "base.html" %}
{% block content %}
{% if language == "FI" %}
<h1>Lataa video saadaksesi tekstitykset siihen</h1>
<form method="post" action="/" enctype="multipart/form-data">
<dl>
    <p>
        <input type="file" name="file" class="button is-fullwidth" autocomplete="off" required>
    </p>
    <p>
        <label for="duuni">Videon nimi</label>
        <br>
        <input type="text" class="input is-large" id="duuni" name="duuni" placeholder="Videon nimi" required minlength="5" maxlength="20">		
    </p>
    <label>Suomen kieliset tekstitykset tulevat aina.</label><br>
    <input type="checkbox" id="Sweden" class="input is-large" name="Sweden" value="Sweden">
    <label for="Sweden">Haluan ruotsin kieliset tekstitykset</label><br>
    <input type="checkbox" id="English" class="input is-large" name="English" value="English">
    <label for="English">Haluan englannin kieliset tekstitykset</label><br>
</dl>
<p>
    <input type="submit" class="button is-fullwidth" value="lataa palvelimelle">
</p>
</form>
{% endif %}
{% if language == "SE" %}
<h1>Ladda upp en video för att få undertexter till den</h1>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" class="button is-fullwidth" autocomplete="off" required>
		</p>
		<p>
			<label for="duuni">Namnet på videon</label>
			<br>
			<input type="text" class="input is-large" id="duuni" name="duuni" placeholder="Namnet på videon" required minlength="5" maxlength="20">		
		</p>
        <label>Finska undertexter kommer alltid.</label><br>
		<input type="checkbox" id="Sweden" class="input is-large" name="Sweden" value="Sweden">
		<label for="vehicle1">Jag vill ha svenska undertexter</label><br>
		<input type="checkbox" id="English" class="input is-large" name="English" value="English">
		<label for="vehicle2">Jag vill ha engelska undertexter</label><br>
    </dl>
    <p>
		<input type="submit" class="button is-fullwidth" value="ladda upp till servern">
	</p>
</form>
{% endif %}
{% if language == "EN" %}
<h1>Upload a video to get subtitles for it</h1>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" class="button is-fullwidth" autocomplete="off" required>
		</p>
		<p>
			<label for="duuni">The name of the video</label>
			<br>
			<input type="text" class="input is-large" id="duuni" name="duuni" placeholder="The name of the video" required minlength="5" maxlength="20">		
		</p>
        <label>Finnish subtitles are always included.</label><br>
		<input type="checkbox" id="Sweden" class="input is-large" name="Sweden" value="Sweden">
		<label for="vehicle1">I want Swedish subtitles</label><br>
		<input type="checkbox" id="English" class="input is-large" name="English" value="English">
		<label for="vehicle2">I want English subtitles</label><br>
    </dl>
    <p>
		<input type="submit" class="button is-fullwidth" value="Upload to server">
	</p>
</form>
{% endif %}
{% endblock %}