{% extends "base.html" %}
{% block content %}
{% if language == "FI" %}
<form method="post" action="/login/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="text" class="username input is-large" id="username" name="username" placeholder="Username"
                required>
        </p>
        <br>
        <p>
            <input type="password" class="username input is-large" id="password" name="password" placeholder="Password"
                required>
        </p>
    </dl>
    <br>
    <p>
        <input type="submit" class="button is-fullwidth" value="Send">
    </p>
</form>
{% endif %}
{% if language == "SE" %}
<form method="post" action="/login/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="text" class="username input is-large" id="username" name="username" placeholder="Username"
                required>
        </p>
        <br>
        <p>
            <input type="password" class="username input is-large" id="password" name="password" placeholder="Password"
                required>
        </p>
    </dl>
    <br>
    <p>
        <input type="submit" class="button is-fullwidth" value="Send">
    </p>
</form>
{% endif %}
{% if language == "EN" %}
<form method="post" action="/login/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="text" class="username input is-large" id="username" name="username" placeholder="Username"
                required>
        </p>
        <br>
        <p>
            <input type="password" class="username input is-large" id="password" name="password" placeholder="Password"
                required>
        </p>
    </dl>
    <br>
    <p>
        <input type="submit" class="button is-fullwidth" value="Send">
    </p>
</form>
{% endif %}
{% endblock %}