{% extends "base.html" %}
{% block content %}
{% if language == "FI" %}
<h1>
    Vain henkilöt joiden element (matrix) tunnukset ovat elokapina.fi päätteisiä voivat ladata videoita palvelimelle, mikäli haluat silti ladata videon palvelimelle, otathan yhteyttä @tekstitykset:elokapina.fi käyttäjään elementissä (matrix).
</h1>
{% endif %}
{% if language == "EN" %}
<h1>
    Only people with element (matrix) suffixes ending in elokapina.fi can upload videos to the server, if you still want to upload the video to the server, please contact @tekstitykset:elokapina.fi in element (matrix).
</h1>
{% endif %}
{% if language == "SE" %}
<h1>
    Endast personer med element (matrix) suffix som slutar på elokapina.fi kan ladda upp videor till servern, om du fortfarande vill ladda upp videon till servern, kontakta @tekstitykset:elokapina.fi i element (matrix).
</h1>
{% endif %}
{% endblock %}
