<!doctype html>
<link rel="icon" type="image/png" sizes="32x32" href="https://elokapina.fi/favicon.png">
<head>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
</head>
<h1>
    Valitse kieli
</h1>
<form action="/fi">
    <input type="submit" class="button" value="Suomi" />
</form>
<h1>
    Välj språk
</h1>
<form action="/se">
    <input type="submit" class="button" value="svenska" />
</form>
<h1>
    Select language
</h1>
<form action="/en">
    <input type="submit" class="button" value="English" />
</form>