<!doctype html>
<link rel="icon" type="image/png" sizes="32x32" href="https://elokapina.fi/favicon.png">
<head>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
<title>Tekstitykset</title>
</head>
<h1>
    Instruktioner
</h1>
<h2>
Gå till tekstitykset.elokapina.fi/se, och välj video filen.
<br>
Skriv ditt Element användarnamnet (som @rebel:elokapina.fi),
<br>
Skriv videotiteln som är min 5 och max 20 tecken.
<br>
Kolla att ditt användarnamnet är korrekt, annars får du inte video srt-filen.
<br>
Ladda upp videon.
</h2>

