<!doctype html>
<link rel="icon" type="image/png" sizes="32x32" href="https://elokapina.fi/favicon.png">
<head>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='mystyle.css')}}"/> 
<title>Tekstitykset</title>
</head>
<h1>Enter your matrix / element username so we can send you 2FA code.</h1>
<form method="post" action="/verify/se/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="text" class="entry" id="element" name="element" placeholder="Element käyttäjänimi" required>			
		</p>
		<p>
		</p>
    </dl>
    <p>
		<input type="submit" class="button" value="Send">
	</p>
</form>